@media only screen and (max-width: 600px) {
  /* body {
    overflow-x: hidden;
  } */

  /*!Working on Page1 Section */
  #page1 {
    height: 50vh;
    padding: 1px;
    /* position: relative; */
  }

  /*!Page1 Navbar Section */
  #page1 #nav {
    justify-content: flex-end;
    padding: 5.2vw 3.9vw 1vw 9.1vw;
    position: fixed;
    top: 0%;
    width: 100%;
    /* background: red; */
  }
  #nav svg {
    scale: 0.85;
  }
  #nav-part2 {
    display: none;
  }

  /*!Page1 center Section */
  .hero {
    /* background-color: red; */
    margin-left: 5%;
  }
  #hero1::before {
    font-size: 4.7vw;
    left: -1%;
    top: -80%;
  }
  .hero:nth-child(2) {
    margin-top: 25vh;
  }
  .hero h1 {
    font-size: 9.2vw;
    line-height: 10vw;
    letter-spacing: 0vh;
  }
  .hero h2 {
    font-size: 9.5vw;
    line-height: 9vw;
    letter-spacing: 0vh;
  }
  .hero h2:hover {
    -webkit-text-stroke: 0.4px #fff;
    color: transparent;
    font-weight: 500;
    border-bottom: 0.7vw solid #ffffff00;
  }

  /*! Working on page2 */
  #page2 {
    height: 75vh;
  }
  #video-container {
    height: 50vh;
    width: 100vw;
    left: 0%;
    /* zoom: 1.04; */
  }
  #video-cursor {
    height: 25vw;
    width: 25vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #video-cursor i {
    font-size: 6vw;
  }

  /*! Working on page3 */
  #page3 {
    padding: 9vh 0vw;
  }
  #page3 h1 {
    font-size: 9.3vw;
    margin-left: 5%;
  }
  #page3 h1::before {
    font-size: 4.9vw;
    left: 0%;
    top: -70%;
  }
  #page3 .underline {
    height: 0.35vw;
    margin: 7vw 0;
    margin-left: 5%;
  }

  #image-div-container {
    /* background-color: red; */
    padding: 0vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .image-div  {
    height: 74vh;
    width: 90vw;
  }
  /* .image-div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */
  
  .image-div:nth-child(1) {
    height: 74vh;
    width: 90vw;
  }
  .image-div:nth-child(5) {
    margin-top: 0vw;
  }
  .image-div:nth-child(6) {
    margin-top: 3vw;
    height: 74vh;
    width: 90vw;
  }
  .page3-circle1 {
    display: none;
  }

  .page3-circle2 {
    display: none;
  }

  /*! Working on page4 */
  #page4-content {
    width: 100vw;
    margin-left: 5%;
    padding-bottom: 0vh;
  }
  #page4-content h1 {
    font-size: 9.5vw;
  }
  #page4-content h1::before {
    font-size: 4.5vw;
    left: 1%;
    top: -70%;
  }
  #page4-content .underline {
    height: 0.4vw;
    margin: 5.5vw 0;
  }
  #page4-content > p {
    font-size: 6.2vw;
    width: 90%;
    margin: 8vw 0;
  }

  #page4-flex {
    display: flex;
    flex-direction: column-reverse;
    gap: 7vw;
  }
  #page4-flex img {
    width: 90%;
  }
  #page4-flex p {
    font-size: 4.2vw;
    width: 80%;
  }

  #page4-blue-div {
    width: 90vw;
    top: -4vw;
    left: 0vw;
  }
  .blue-div-elem {
    gap: 3vw;
    /* background-color: red; */
    padding: 6vw 0vw;
    border-bottom: 1.7px solid #ffffff99;
  }
  .blue-div-elem h4 {
    font-size: 3.7vw;
  }
  .blue-div-elem p {
    font-size: 3.9vw;
  }

  /*! Working on page5  */
  #page5 {
    min-height: 35vh;
    width: 100%;
    position: relative;
  }
  .elem {
    white-space: nowrap;
    /* overflow-x: auto; */
    margin-bottom: -1.3vw;
  }
  .elem h1 {
    /* background-color: red; */
    font-size: 10vw;
    -webkit-text-stroke: 1px #fff;
    font-weight: 500;
    text-transform: uppercase;
    color: transparent;
    display: inline-block;
    margin-right: 16px;
    animation-name: loaderanime;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  .elem2 {
    white-space: nowrap;
    /* overflow-x: auto; */
    margin-bottom: -1.3vw;
  }
  .elem2 h1 {
    /* background-color: red; */
    font-size: 10vw;
    -webkit-text-stroke: 1px #fff;
    font-weight: 500;
    text-transform: uppercase;
    color: transparent;
    display: inline-block;
    transform: translateX(calc(-100% - 20px));
    animation-name: loaderanime;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: reverse;
  }

  @keyframes loaderanime {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - 20px));
    }
  }

  .elem span {
    font-family: "Silk Serif";
    color: transparent;
    -webkit-text-stroke: 1px #fff;
  }
  .elem2 span {
    font-family: "Silk Serif";
    color: transparent;
    -webkit-text-stroke: 1px #fff;
  }

  /*!Working on footer */
  #footer {
    height: 100vh;
    width: 100%;
    /* background-color: red; */
    position: relative;
    padding-left: 5%;
    margin-top: 10vw;
  }
  #footer h1 {
    height: 10%;
    font-size: 10.2vw;
    /* background-color: blue; */
    text-transform: uppercase;
    position: relative;
  }

  #footer h1::before {
    content: "04";
    position: absolute;
    font-size: 4.5vw;
    font-family: "Silk Serif";
    font-weight: 100;
    left: 0%;
    top: -30%;
  }

  .underline {
    height: 1px;
    width: 93%;
    background-color: #fff;
    margin: 2vw 0;
  }
  #footer-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    /* padding-right: 15vw; */
    padding-top: 1.5vw;
    margin-bottom: 6vw;
    gap: 10vw;
    margin-top: 10vw;
  }
  #footer-div h6 {
    font-size: 4.5vw;
    margin-bottom: 7vw;
    font-weight: 5400;
  }
  .box {
    width: 100%;
    /* border: 2px solid green; */
  }
  #footer-div h5 {
    font-size: 6vw;
    font-weight: 400;
    margin: -0.9vh 0;
    line-height: 1.3;
  }
  #footer > h5 {
    font-weight: 500;
    font-size: 4.5vw;
    /* margin: 3vw 0; */
  }
  .ft-ul {
    margin: 10vw 0;
  }
}
